<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Facebook Connect Demo Application</title>
	<meta name="generator" content="TextMate http://macromates.com/">
	<meta name="author" content="xdite">
	<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
    <%= javascript_include_tag "application.js" %>
    
	<!-- Date: 2008-12-08 -->
</head>
<body>
    
    <%= yield %>
    
    <script type="text/javascript">
    //<![CDATA[
    window.api_key = 'a74dc17770e05efd797d8eecece9a6b5';
    //]]>
    </script>

    <script src="/javascripts/facebook_require.js?1228725559" type="text/javascript"></script>
    
</body>
</html>
